In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd
import env
import os 
import wrangle_mall

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [3]:
df =wrangle_mall.acquire_mall()
df.shape

(200, 5)

In [4]:
df.describe()

       customer_id         age  annual_income  spending_score
count   200.000000  200.000000     200.000000      200.000000
mean    100.500000   38.850000      60.560000       50.200000
std      57.879185   13.969007      26.264721       25.823522
min       1.000000   18.000000      15.000000        1.000000
25%      50.750000   28.750000      41.500000       34.750000
50%     100.500000   36.000000      61.500000       50.000000
75%     150.250000   49.000000      78.000000       73.000000
max     200.000000   70.000000     137.000000       99.000000

In [5]:
df.isnull().sum(axis=0)

customer_id       0
gender            0
age               0
annual_income     0
spending_score    0
dtype: int64

In [6]:
count_missing = df.isnull().sum(axis=1)
percent_missing = round((df.isnull().sum(axis=1) / df.shape[1]) * 100)
rows_df = pd.DataFrame({
'num_cols_missing': count_missing,
'percent_cols_missing': percent_missing
}).reset_index()\
.groupby(['num_cols_missing', 'percent_cols_missing']).\
count().reset_index().rename(columns={'index':'num_rows'})

In [7]:
count_missing

0      0
1      0
2      0
3      0
4      0
      ..
195    0
196    0
197    0
198    0
199    0
Length: 200, dtype: int64

In [8]:
col = df.columns
wrangle_mall.get_fences(df, col)

(customer_id      -98.500
 age               -1.625
 annual_income    -13.250
 spending_score   -22.625
 dtype: float64,
 customer_id       299.500
 age                79.375
 annual_income     132.750
 spending_score    130.375
 dtype: float64)

In [9]:
wrangle_mall.report_outliers(df, k=1.5)

Outliers for Col customer_id:
lower:  -98.5 upper:  299.5
Series([], Name: customer_id, dtype: int64)
----------
Outliers for Col age:
lower:  -1.625 upper:  79.375
Series([], Name: age, dtype: int64)
----------
Outliers for Col annual_income:
lower:  -13.25 upper:  132.75
198    137
199    137
Name: annual_income, dtype: int64
----------
Outliers for Col spending_score:
lower:  -22.625 upper:  130.375
Series([], Name: spending_score, dtype: int64)
----------

In [10]:
wrangle_mall.summarize(df, k=1.5)

Shape of Data:
(200, 5)
======================
======================
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     200 non-null    int64
 1   gender          200 non-null    object
 2   age             200 non-null    int64
 3   annual_income   200 non-null    int64
 4   spending_score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None
======================
======================
Descriptions:
|                |   count |   mean |     std |   min |   25% |   50% |    75% |   max |
|:---------------|--------:|-------:|--------:|------:|------:|------:|-------:|------:|
| customer_id    |     200 | 100.5  | 57.8792 |     1 | 50.75 | 100.5 | 150.25 |   200 |
| age            |     200 |  38.85 | 13.969  |    18 | 28.75 |  36   |  49    |    70 |
| annual_income  |     200 |  60.56 | 26.2647 |    15 | 41.5  |  61.5 |  78    |   137 |
| spending_score |     200 |  50.2  | 25.8235 |     1 | 34.75 |  50   |  73    |    99 |
======================
======================
|        |   count |   unique | top    |   freq |
|:-------|--------:|---------:|:-------|-------:|
| gender |     200 |        2 | Female |    112 |
======================
======================
missing values:
by column:
|                |   0 |
|:---------------|----:|
| customer_id    |   0 |
| gender         |   0 |
| age            |   0 |
| annual_income  |   0 |
| spending_score |   0 |
by row:
|    |   num_cols_missing |   percent_cols_missing |   num_rows |
|---:|-------------------:|-----------------------:|-----------:|
|  0 |                  0 |                      0 |        200 |
======================
======================
Outliers:
Outliers for Col customer_id:
lower:  -98.5 upper:  299.5
Series([], Name: customer_id, dtype: int64)
----------
Outliers for Col age:
lower:  -1.625 upper:  79.375
Series([], Name: age, dtype: int64)
----------
Outliers for Col annual_income:
lower:  -13.25 upper:  132.75
198    137
199    137
Name: annual_income, dtype: int64
----------
Outliers for Col spending_score:
lower:  -22.625 upper:  130.375
Series([], Name: spending_score, dtype: int64)
----------
None
======================
======================

In [11]:
train_val, test = train_test_split(
    df, 
    train_size=0.8, 
    random_state=1349,
    stratify=None)
train, validate = train_test_split(
    train_val,
    train_size=0.7,
    random_state=1349,
    stratify=None)

In [12]:
wrangle_mall.get_continuous_feats(df)

['customer_id', 'age', 'annual_income', 'spending_score']

In [13]:
# Define prop_required_column with the desired value (e.g., 0.7 for 70% required)
prop_required_column = 0.75

prop_required_row = 0.75

In [15]:
df = wrangle_mall.handle_missing_values(df, prop_required_column, prop_required_row)