In [1]:
%autosave 0

Autosave disabled

In [23]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import env
import wrangle_zillow
from zillow_query import query as zquery
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [25]:
wrangle_zillow.acquire_zillow()

AttributeError: module 'wrangle_zillow' has no attribute 'acquire_zillow'

In [4]:
wrangle_zillow.missing_by_col(df)

customer_id       0
gender            0
age               0
annual_income     0
spending_score    0
dtype: int64

In [5]:
wrangle_zillow.missing_by_row(df)

   num_cols_missing  percent_cols_missing  num_rows
0                 0                   0.0       200

In [6]:
col=df.columns
wrangle_zillow.get_fences(df, col)

(customer_id      -98.500
 age               -1.625
 annual_income    -13.250
 spending_score   -22.625
 dtype: float64,
 customer_id       299.500
 age                79.375
 annual_income     132.750
 spending_score    130.375
 dtype: float64)

In [7]:
wrangle_zillow.report_outliers(df, k=1.5)

Outliers for Col customer_id:
lower:  -98.5 upper:  299.5
Series([], Name: customer_id, dtype: int64)
----------
Outliers for Col age:
lower:  -1.625 upper:  79.375
Series([], Name: age, dtype: int64)
----------
Outliers for Col annual_income:
lower:  -13.25 upper:  132.75
198    137
199    137
Name: annual_income, dtype: int64
----------
Outliers for Col spending_score:
lower:  -22.625 upper:  130.375
Series([], Name: spending_score, dtype: int64)
----------

In [8]:
wrangle_zillow.summarize(df, k=1.5)

Shape of Data:
(200, 5)
======================
======================
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     200 non-null    int64
 1   gender          200 non-null    object
 2   age             200 non-null    int64
 3   annual_income   200 non-null    int64
 4   spending_score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None
======================
======================
Descriptions:
|                |   count |   mean |     std |   min |   25% |   50% |    75% |   max |
|:---------------|--------:|-------:|--------:|------:|------:|------:|-------:|------:|
| customer_id    |     200 | 100.5  | 57.8792 |     1 | 50.75 | 100.5 | 150.25 |   200 |
| age            |     200 |  38.85 | 13.969  |    18 | 28.75 |  36   |  49    |    70 |
| annual_income  |     200 |  60.56 | 26.2647 |    15 | 41.5  |  61.5 |  78    |   137 |
| spending_score |     200 |  50.2  | 25.8235 |     1 | 34.75 |  50   |  73    |    99 |
======================
======================
|        |   count |   unique | top    |   freq |
|:-------|--------:|---------:|:-------|-------:|
| gender |     200 |        2 | Female |    112 |
======================
======================
missing values:
by column:
|                |   0 |
|:---------------|----:|
| customer_id    |   0 |
| gender         |   0 |
| age            |   0 |
| annual_income  |   0 |
| spending_score |   0 |
by row:
|    |   num_cols_missing |   percent_cols_missing |   num_rows |
|---:|-------------------:|-----------------------:|-----------:|
|  0 |                  0 |                      0 |        200 |
======================
======================
Outliers:
Outliers for Col customer_id:
lower:  -98.5 upper:  299.5
Series([], Name: customer_id, dtype: int64)
----------
Outliers for Col age:
lower:  -1.625 upper:  79.375
Series([], Name: age, dtype: int64)
----------
Outliers for Col annual_income:
lower:  -13.25 upper:  132.75
198    137
199    137
Name: annual_income, dtype: int64
----------
Outliers for Col spending_score:
lower:  -22.625 upper:  130.375
Series([], Name: spending_score, dtype: int64)
----------
None
======================
======================

In [20]:
df= wrangle_zillow.split_data(df, target=None)
df

([[[[[     customer_id  gender  age  annual_income  spending_score
      26            27  Female   45             28              32
      23            24    Male   31             25              73
      39            40  Female   20             37              75
      37            38  Female   30             34              73
      56            57  Female   51             44              50
      ..           ...     ...  ...            ...             ...
      176          177    Male   58             88              15
      194          195  Female   47            120              16
      12            13  Female   58             20              15
      34            35  Female   49             33              14
      117          118  Female   49             65              59

      [112 rows x 5 columns]]]]]],
 [[[[[     customer_id  gender  age  annual_income  spending_score
      179          180    Male   35             93              90
      7              8  Female   23             18              94
      153          154  Female   38             78              76
      140          141  Female   57             75               5
      144          145    Male   25             77              12
      52            53  Female   31             43              54
      54            55  Female   50             43              45
      188          189  Female   41            103              17
      185          186    Male   30             99              97
      133          134  Female   31             72              71
      101          102  Female   49             62              48
      125          126  Female   31             70              77
      120          121    Male   27             67              56
      190          191  Female   34            103              23
      66            67  Female   43             48              50
      196          197  Female   45            126              28
      165          166  Female   36             85              75
      122          123  Female   40             69              58
      111          112  Female   19             63              54
      172          173    Male   36             87              10
      127          128    Male   40             71              95
      180          181  Female   37             97              32
      2              3  Female   20             16               6
      57            58    Male   69             44              46
      48            49  Female   29             40              42
      21            22    Male   25             24              73
      73            74  Female   60             50              56
      156          157    Male   37             78               1
      75            76    Male   26             54              54
      10            11    Male   67             19              14
      40            41  Female   65             38              35
      137          138    Male   32             73              73
      149          150    Male   34             78              90
      187          188    Male   28            101              68
      103          104    Male   26             62              55
      27            28    Male   35             28              61
      154          155  Female   47             78              16
      42            43    Male   48             39              36
      118          119  Female   51             67              43
      61            62    Male   19             46              55]]]]],
 [[[[[     customer_id  gender  age  annual_income  spending_score
      159          160  Female   30             78              73
      88            89  Female   34             58              60
      8              9    Male   64             19               3
      128          129    Male   59             71              11
      93            94  Female   40             60              40
      168          169  Female   36             87              27
      173          174    Male   36             87              92
      112          113  Female   38             64              42
      186          187  Female   54            101              24
      74            75    Male   59             54              47
      139          140  Female   35             74              72
      30            31    Male   60             30               4
      14            15    Male   37             20              13
      175          176  Female   30             88              86
      131          132    Male   39             71              75
      41            42    Male   24             38              92
      161          162  Female   29             79              83
      31            32  Female   21             30              73
      138          139    Male   19             74              10
      178          179    Male   59             93              14
      64            65    Male   63             48              51
      95            96    Male   24             60              52
      150          151    Male   43             78              17
      1              2    Male   21             15              81
      198          199    Male   32            137              18
      167          168  Female   33             86              95
      119          120  Female   50             67              57
      67            68  Female   68             48              48
      135          136  Female   29             73              88
      97            98  Female   27             60              50
      84            85  Female   21             54              57
      104          105    Male   49             62              56
      65            66    Male   18             48              59
      158          159    Male   34             78               1
      99           100    Male   20             61              49
      50            51  Female   49             42              52
      169          170    Male   32             87              63
      53            54    Male   59             43              60
      141          142    Male   32             75              93
      87            88  Female   22             57              55
      157          158  Female   30             78              78
      13            14  Female   24             20              77
      115          116  Female   19             65              50
      68            69    Male   19             48              59
      166          167    Male   42             86              20
      44            45  Female   49             39              28
      35            36  Female   21             33              81
      9             10  Female   30             19              72]]]]])

In [10]:
wrangle_zillow.get_continuous_feats(df)

['customer_id', 'age', 'annual_income', 'spending_score']

In [15]:
df.shape

AttributeError: 'tuple' object has no attribute 'shape'

In [13]:
train.shape

NameError: name 'train' is not defined