In [ ]:
%autosave 0

In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import env
import wrangle_zillow
from zillow_query import query as zquery
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [11]:
df=wrangle_zillow.acquire_zillow()
df.shape

(52319, 68)

In [12]:
df.describe()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,logerror,buildingclassdesc
count,5.231900e+04,5.231900e+04,13615.000000,70.00000,47.000000,52319.000000,52319.000000,0.0,33654.000000,52184.000000,...,81.0,5.223700e+04,5.231800e+04,52319.0,5.231800e+04,52315.000000,2068.000000,5.219800e+04,52319.000000,0.0
mean,1.496888e+06,1.299682e+07,2.439589,7.10000,678.978723,2.300015,3.300770,NaN,6.264961,2.305276,...,1.0,1.966385e+05,5.298287e+05,2016.0,3.334946e+05,6454.802564,14.101064,6.050245e+13,0.018136,NaN
std,8.594310e+05,3.350951e+06,3.847925,2.66567,711.825226,1.022816,0.947563,NaN,1.716328,1.018076,...,0.0,2.542880e+05,7.518358e+05,0.0,5.705157e+05,8752.550365,2.400399,1.861145e+12,0.176904,NaN
min,3.490000e+02,1.071186e+07,1.000000,2.00000,38.000000,0.000000,0.000000,NaN,1.000000,1.000000,...,1.0,1.290000e+02,1.000000e+03,2016.0,1.610000e+02,49.180000,4.000000,6.037101e+13,-4.655420,NaN
25%,7.575810e+05,1.151017e+07,1.000000,7.00000,263.500000,2.000000,3.000000,NaN,5.000000,2.000000,...,1.0,7.715900e+04,1.940205e+05,2016.0,7.619400e+04,2660.965000,14.000000,6.037401e+13,-0.024702,NaN
50%,1.500095e+06,1.257825e+07,1.000000,7.00000,512.000000,2.000000,3.000000,NaN,6.000000,2.000000,...,1.0,1.319100e+05,3.740080e+05,2016.0,2.180790e+05,4650.620000,15.000000,6.037620e+13,0.006935,NaN
75%,2.241248e+06,1.413036e+07,1.000000,7.00000,809.500000,3.000000,4.000000,NaN,8.000000,3.000000,...,1.0,2.264550e+05,6.193580e+05,2016.0,4.087795e+05,7379.320000,15.000000,6.059042e+13,0.040599,NaN
max,2.982270e+06,1.676878e+08,13.000000,21.00000,3560.000000,18.000000,14.000000,NaN,12.000000,18.000000,...,1.0,9.164901e+06,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,5.262999,NaN

In [13]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
52314    False
52315    False
52316    False
52317    False
52318    False
Length: 52319, dtype: bool

In [14]:
df.value_counts()

Series([], dtype: int64)

In [15]:
wrangle_zillow.missing_by_col(df)

id                              0
parcelid                        0
airconditioningtypeid       38704
architecturalstyletypeid    52249
basementsqft                52272
                            ...
buildingclassdesc           52319
heatingorsystemdesc         18470
propertylandusedesc             0
storydesc                   52272
typeconstructiondesc        52243
Length: 68, dtype: int64

In [16]:
wrangle_zillow.missing_by_row(df)

    num_cols_missing  percent_cols_missing  num_rows
0                 23                  34.0         2
1                 24                  35.0        12
2                 25                  37.0        11
3                 26                  38.0        30
4                 27                  40.0       177
5                 28                  41.0       390
6                 29                  43.0      2527
7                 30                  44.0      2199
8                 31                  46.0      5989
9                 32                  47.0      8885
10                33                  49.0     11967
11                34                  50.0     11157
12                35                  51.0      3469
13                36                  53.0      4138
14                37                  54.0      1020
15                38                  56.0       223
16                39                  57.0        29
17                40                  59.0        15
18                41                  60.0         6
19                42                  62.0         7
20                43                  63.0        10
21                44                  65.0        46
22                45                  66.0         6
23                46                  68.0         1
24                47                  69.0         1
25                48                  71.0         2

In [17]:
col=df.columns
wrangle_zillow.get_fences(df, col)

(id                             -1.467919e+06
 parcelid                        7.579877e+06
 airconditioningtypeid           1.000000e+00
 architecturalstyletypeid        7.000000e+00
 basementsqft                   -5.555000e+02
 bathroomcnt                     5.000000e-01
 bedroomcnt                      1.500000e+00
 buildingclasstypeid                      NaN
 buildingqualitytypeid           5.000000e-01
 calculatedbathnbr               5.000000e-01
 decktypeid                      6.600000e+01
 finishedfloor1squarefeet        2.375000e+02
 calculatedfinishedsquarefeet   -2.890000e+02
 finishedsquarefeet12           -2.885000e+02
 finishedsquarefeet13                     NaN
 finishedsquarefeet15                     NaN
 finishedsquarefeet50            2.235000e+02
 finishedsquarefeet6            -2.000000e+01
 fips                            6.004000e+03
 fireplacecnt                    1.000000e+00
 fullbathcnt                     5.000000e-01
 garagecarcnt                    2.000000e+00
 garagetotalsqft                 2.145000e+02
 hashottuborspa                  1.000000e+00
 heatingorsystemtypeid          -5.500000e+00
 latitude                        3.328636e+07
 longitude                      -1.191088e+08
 lotsizesquarefeet               7.590000e+02
 poolcnt                         1.000000e+00
 poolsizesum                     1.600000e+02
 pooltypeid10                    1.000000e+00
 pooltypeid2                     1.000000e+00
 pooltypeid7                     1.000000e+00
 propertylandusetypeid           2.610000e+02
 rawcensustractandblock          6.004940e+07
 regionidcity                   -2.922300e+04
 regionidcounty                 -1.436500e+03
 regionidneighborhood           -3.089435e+05
 regionidzip                     9.502250e+04
 roomcnt                        -7.500000e+00
 storytypeid                     7.000000e+00
 threequarterbathnbr             1.000000e+00
 typeconstructiontypeid          6.000000e+00
 unitcnt                         1.000000e+00
 yardbuildingsqft17             -1.000000e+02
 yardbuildingsqft26             -2.967500e+02
 yearbuilt                       1.906500e+03
 numberofstories                -5.000000e-01
 fireplaceflag                   1.000000e+00
 structuretaxvaluedollarcnt     -1.467850e+05
 taxvaluedollarcnt              -4.439858e+05
 assessmentyear                  2.016000e+03
 landtaxvaluedollarcnt          -4.226842e+05
 taxamount                      -4.416567e+03
 taxdelinquencyyear              1.250000e+01
 censustractandblock             6.004940e+13
 logerror                       -1.226519e-01
 buildingclassdesc                        NaN
 dtype: float64,
 id                              4.466747e+06
 parcelid                        1.806065e+07
 airconditioningtypeid           1.000000e+00
 architecturalstyletypeid        7.000000e+00
 basementsqft                    1.628500e+03
 bathroomcnt                     4.500000e+00
 bedroomcnt                      5.500000e+00
 buildingclasstypeid                      NaN
 buildingqualitytypeid           1.250000e+01
 calculatedbathnbr               4.500000e+00
 decktypeid                      6.600000e+01
 finishedfloor1squarefeet        2.673500e+03
 calculatedfinishedsquarefeet    3.863000e+03
 finishedsquarefeet12            3.867500e+03
 finishedsquarefeet13                     NaN
 finishedsquarefeet15                     NaN
 finishedsquarefeet50            2.699500e+03
 finishedsquarefeet6             2.124000e+03
 fips                            6.092000e+03
 fireplacecnt                    1.000000e+00
 fullbathcnt                     4.500000e+00
 garagecarcnt                    2.000000e+00
 garagetotalsqft                 7.785000e+02
 hashottuborspa                  1.000000e+00
 heatingorsystemtypeid           1.450000e+01
 latitude                        3.472780e+07
 longitude                      -1.172211e+08
 lotsizesquarefeet               1.362300e+04
 poolcnt                         1.000000e+00
 poolsizesum                     8.640000e+02
 pooltypeid10                    1.000000e+00
 pooltypeid2                     1.000000e+00
 pooltypeid7                     1.000000e+00
 propertylandusetypeid           2.610000e+02
 rawcensustractandblock          6.091504e+07
 regionidcity                    8.189700e+04
 regionidcounty                  5.823500e+03
 regionidneighborhood            6.245885e+05
 regionidzip                     9.817850e+04
 roomcnt                         1.250000e+01
 storytypeid                     7.000000e+00
 threequarterbathnbr             1.000000e+00
 typeconstructiontypeid          6.000000e+00
 unitcnt                         1.000000e+00
 yardbuildingsqft17              7.000000e+02
 yardbuildingsqft26              6.852500e+02
 yearbuilt                       2.022500e+03
 numberofstories                 3.500000e+00
 fireplaceflag                   1.000000e+00
 structuretaxvaluedollarcnt      4.503990e+05
 taxvaluedollarcnt               1.257364e+06
 assessmentyear                  2.016000e+03
 landtaxvaluedollarcnt           9.076578e+05
 taxamount                       1.445685e+04
 taxdelinquencyyear              1.650000e+01
 censustractandblock             6.091504e+13
 logerror                        1.385490e-01
 buildingclassdesc                        NaN
 dtype: float64)

In [18]:
wrangle_zillow.report_outliers(df, k=1.5)

Outliers for Col id:
lower:  -1467918.75 upper:  4466747.25
Series([], Name: id, dtype: int64)
----------
Outliers for Col parcelid:
lower:  7579877.25 upper:  18060651.25
2783     167637054
6538     167636468
6768     167636512
8785     167636496
8954     167686999
22739    162960516
22960    162960529
23810    167639152
25628    162960814
28006    167687839
31037    167638003
34585    167636088
36959    167636727
39280    162960596
41966     79640490
42188    167637371
48857    167636193
49100    167636726
50667    167636339
Name: parcelid, dtype: int64
----------
Outliers for Col basementsqft:
lower:  -555.5 upper:  1628.5
10078    3112.0
13829    3560.0
34625    1809.0
44540    1969.0
Name: basementsqft, dtype: float64
----------
Outliers for Col bathroomcnt:
lower:  0.5 upper:  4.5
31       5.0
33       5.0
45       6.5
52       5.0
108      6.0
        ...
52192    6.0
52207    5.0
52238    6.0
52273    5.0
52307    0.0
Name: bathroomcnt, Length: 1696, dtype: float64
----------
Outliers for Col calculatedbathnbr:
lower:  0.5 upper:  4.5
31       5.0
33       5.0
45       6.5
52       5.0
108      6.0
        ...
52174    5.0
52192    6.0
52207    5.0
52238    6.0
52273    5.0
Name: calculatedbathnbr, Length: 1576, dtype: float64
----------
Outliers for Col finishedfloor1squarefeet:
lower:  237.5 upper:  2673.5
351      4677.0
352      5936.0
851      3231.0
874      5010.0
1182     3762.0
          ...
50916    3356.0
51376    2677.0
51480    3076.0
51731    5774.0
51754    3363.0
Name: finishedfloor1squarefeet, Length: 257, dtype: float64
----------
Outliers for Col calculatedfinishedsquarefeet:
lower:  -289.0 upper:  3863.0
16       3870.0
31       5492.0
33       4468.0
45       9586.0
51       5900.0
          ...
52147    3864.0
52192    5280.0
52207    5655.0
52238    5350.0
52273    4175.0
Name: calculatedfinishedsquarefeet, Length: 2272, dtype: float64
----------
Outliers for Col finishedsquarefeet12:
lower:  -288.5 upper:  3867.5
16       3870.0
31       5492.0
33       4468.0
45       9586.0
51       5900.0
          ...
52102    5945.0
52192    5280.0
52207    5655.0
52238    5350.0
52273    4175.0
Name: finishedsquarefeet12, Length: 2259, dtype: float64
----------
Outliers for Col finishedsquarefeet50:
lower:  223.5 upper:  2699.5
351       4677.0
352       5936.0
505       4459.0
851       3231.0
874       5010.0
          ...
50753    12467.0
50916     3356.0
51480     3076.0
51731     5774.0
51754     3363.0
Name: finishedsquarefeet50, Length: 270, dtype: float64
----------
Outliers for Col finishedsquarefeet6:
lower:  -20.0 upper:  2124.0
1243     2792.0
3595     4086.0
4398     3280.0
9037     2343.0
9885     5598.0
9944     2423.0
11876    2516.0
12948    2332.0
18221    3543.0
19455    3040.0
22808    4184.0
32676    2459.0
33818    2165.0
38731    3646.0
40610    2796.0
43385    2578.0
48597    2207.0
50577    3054.0
Name: finishedsquarefeet6, dtype: float64
----------
Outliers for Col garagetotalsqft:
lower:  214.5 upper:  778.5
1           0.0
45       1114.0
92        828.0
129       200.0
215      1380.0
          ...
51619     823.0
51638     871.0
51657    1511.0
51916       0.0
51918     957.0
Name: garagetotalsqft, Length: 887, dtype: float64
----------
Outliers for Col latitude:
lower:  33286355.25 upper:  34727797.25
529      34733937.0
1838     34749722.0
3452     34786807.0
4847     34767820.0
6434     34729241.0
7185     34776588.0
8416     34786014.0
8826     34757805.0
9434     34760911.0
9588     34736764.0
11859    34758939.0
12880    34756315.0
16298    34734767.0
17885    34753433.0
17993    34768294.0
18201    34731360.0
19104    34753495.0
19624    34806955.0
21231    34779658.0
32644    34755082.0
32858    34751923.0
34173    34744875.0
35359    34756038.0
36038    34746582.0
37670    34818767.0
38726    34750644.0
39317    34753581.0
41185    34738015.0
41658    34740081.0
44943    34785097.0
45388    34788737.0
48101    34762455.0
49536    34812397.0
50049    34810638.0
Name: latitude, dtype: float64
----------
Outliers for Col longitude:
lower:  -119108782.25 upper:  -117221120.25
1       -119281531.0
9       -119170633.0
100     -119206256.0
103     -119222807.0
109     -119207084.0
            ...
51697   -119205020.0
51730   -119206523.0
51744   -119227193.0
51764   -119181514.0
51769   -119213432.0
Name: longitude, Length: 1455, dtype: float64
----------
Outliers for Col lotsizesquarefeet:
lower:  759.0 upper:  13623.0
4         63000.0
6         20028.0
19        18200.0
22       183383.0
23        20148.0
           ...
52274     44800.0
52295     25568.0
52303     17881.0
52310     45398.0
52315     47405.0
Name: lotsizesquarefeet, Length: 5572, dtype: float64
----------
Outliers for Col poolsizesum:
lower:  160.0 upper:  864.0
3073      129.0
4974       24.0
5379     1500.0
8746       65.0
9046     1000.0
10102     900.0
14867     885.0
16246     112.0
18592     969.0
19333    1065.0
19446     144.0
19730      38.0
21182    1070.0
22167    1120.0
30311    1364.0
30740     931.0
34788     105.0
36832    1052.0
38024    1000.0
38329     900.0
40260    1109.0
42098    1200.0
43334     913.0
50764     990.0
Name: poolsizesum, dtype: float64
----------
Outliers for Col rawcensustractandblock:
lower:  60049395.162047 upper:  60915040.12198299
1        6.111001e+07
9        6.111005e+07
87       6.111006e+07
90       6.111007e+07
92       6.111005e+07
             ...
51760    6.111008e+07
51763    6.111008e+07
51764    6.111003e+07
51769    6.111004e+07
52316    6.111008e+07
Name: rawcensustractandblock, Length: 4385, dtype: float64
----------
Outliers for Col regionidcity:
lower:  -29223.0 upper:  81897.0
3        396551.0
41       118694.0
60       396054.0
228      396556.0
230      396550.0
           ...
52187    113576.0
52194    118878.0
52195    116042.0
52254    396551.0
52293    396054.0
Name: regionidcity, Length: 1620, dtype: float64
----------
Outliers for Col regionidneighborhood:
lower:  -308943.5 upper:  624588.5
207      762684.0
589      761541.0
597      761541.0
610      762183.0
755      761545.0
           ...
52094    763170.0
52113    762177.0
52192    761547.0
52232    763219.0
52241    764164.0
Name: regionidneighborhood, Length: 579, dtype: float64
----------
Outliers for Col regionidzip:
lower:  95022.5 upper:  98178.5
3128     399675.0
5138     399675.0
16423    399675.0
24032    399675.0
25941    399675.0
28548    399675.0
33027    399675.0
37884    399675.0
42382    399675.0
46995    399675.0
48312    399675.0
52007    399675.0
Name: regionidzip, dtype: float64
----------
Outliers for Col yardbuildingsqft17:
lower:  -100.0 upper:  700.0
352      2332.0
374      2206.0
851       780.0
3098      825.0
3207     1324.0
          ...
48894     722.0
50362     788.0
50439    1126.0
50753    3191.0
51693     990.0
Name: yardbuildingsqft17, Length: 119, dtype: float64
----------
Outliers for Col yardbuildingsqft26:
lower:  -296.75 upper:  685.25
7298     752.0
50916    868.0
Name: yardbuildingsqft26, dtype: float64
----------
Outliers for Col yearbuilt:
lower:  1906.5 upper:  2022.5
29       1901.0
50       1885.0
176      1902.0
308      1895.0
950      1899.0
          ...
50929    1895.0
51519    1901.0
51706    1905.0
51894    1905.0
52301    1887.0
Name: yearbuilt, Length: 240, dtype: float64
----------
Outliers for Col structuretaxvaluedollarcnt:
lower:  -146785.0 upper:  450399.0
0         485713.0
22        833933.0
23        678493.0
31       1177804.0
33        870000.0
           ...
52224     453000.0
52238    1776793.0
52263     519481.0
52273     576308.0
52303     593801.0
Name: structuretaxvaluedollarcnt, Length: 3893, dtype: float64
----------
Outliers for Col taxvaluedollarcnt:
lower:  -443985.75 upper:  1257364.25
16       2040000.0
22       1444248.0
23       1473080.0
31       1814004.0
33       1279000.0
           ...
52236    2000000.0
52238    2300797.0
52241    1582000.0
52263    2082201.0
52283    1629476.0
Name: taxvaluedollarcnt, Length: 3534, dtype: float64
----------
Outliers for Col landtaxvaluedollarcnt:
lower:  -422684.25 upper:  907657.75
16       1741737.0
45       1915820.0
54        917220.0
68       1144643.0
89        931981.0
           ...
52227    1134034.0
52236    1700000.0
52241    1265400.0
52263    1562720.0
52283    1303581.0
Name: landtaxvaluedollarcnt, Length: 3012, dtype: float64
----------
Outliers for Col taxamount:
lower:  -4416.567499999999 upper:  14456.852499999999
16       21758.26
22       16542.97
23       17643.27
31       20454.76
33       19822.16
           ...
52236    24076.88
52238    27815.44
52241    18480.13
52263    23074.98
52283    18116.07
Name: taxamount, Length: 3813, dtype: float64
----------
Outliers for Col censustractandblock:
lower:  60049395188521.0 upper:  60915040104489.0
1        6.111001e+13
9        6.111005e+13
87       6.111006e+13
90       6.111006e+13
92       6.111005e+13
             ...
51760    6.111008e+13
51763    6.111008e+13
51764    6.111003e+13
51769    6.111004e+13
52316    6.111008e+13
Name: censustractandblock, Length: 4367, dtype: float64
----------
Outliers for Col logerror:
lower:  -0.12265192427647498 upper:  0.13854899134652499
18       0.206470
28      -0.134762
31      -0.259448
63      -0.147592
68      -0.201121
           ...
52303   -0.232215
52307   -0.159471
52308   -0.816510
52311   -0.140881
52312    0.319408
Name: logerror, Length: 6413, dtype: float64
----------

In [19]:
wrangle_zillow.summarize(df, k=1.5)

Shape of Data:
(52319, 68)
======================
======================
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52319 entries, 0 to 52318
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            52319 non-null  int64
 1   parcelid                      52319 non-null  int64
 2   airconditioningtypeid         13615 non-null  float64
 3   architecturalstyletypeid      70 non-null     float64
 4   basementsqft                  47 non-null     float64
 5   bathroomcnt                   52319 non-null  float64
 6   bedroomcnt                    52319 non-null  float64
 7   buildingclasstypeid           0 non-null      float64
 8   buildingqualitytypeid         33654 non-null  float64
 9   calculatedbathnbr             52184 non-null  float64
 10  decktypeid                    389 non-null    float64
 11  finishedfloor1squarefeet      4371 non-null   float64
 12  calculatedfinishedsquarefeet  52238 non-null  float64
 13  finishedsquarefeet12          52073 non-null  float64
 14  finishedsquarefeet13          0 non-null      float64
 15  finishedsquarefeet15          0 non-null      float64
 16  finishedsquarefeet50          4371 non-null   float64
 17  finishedsquarefeet6           165 non-null    float64
 18  fips                          52319 non-null  float64
 19  fireplacecnt                  7233 non-null   float64
 20  fullbathcnt                   52184 non-null  float64
 21  garagecarcnt                  17984 non-null  float64
 22  garagetotalsqft               17984 non-null  float64
 23  hashottuborspa                1514 non-null   float64
 24  heatingorsystemtypeid         33849 non-null  float64
 25  latitude                      52319 non-null  float64
 26  longitude                     52319 non-null  float64
 27  lotsizesquarefeet             51953 non-null  float64
 28  poolcnt                       11077 non-null  float64
 29  poolsizesum                   865 non-null    float64
 30  pooltypeid10                  443 non-null    float64
 31  pooltypeid2                   1071 non-null   float64
 32  pooltypeid7                   9990 non-null   float64
 33  propertycountylandusecode     52319 non-null  object
 34  propertylandusetypeid         52319 non-null  float64
 35  propertyzoningdesc            33761 non-null  object
 36  rawcensustractandblock        52319 non-null  float64
 37  regionidcity                  51283 non-null  float64
 38  regionidcounty                52319 non-null  float64
 39  regionidneighborhood          18981 non-null  float64
 40  regionidzip                   52293 non-null  float64
 41  roomcnt                       52319 non-null  float64
 42  storytypeid                   47 non-null     float64
 43  threequarterbathnbr           6717 non-null   float64
 44  typeconstructiontypeid        76 non-null     float64
 45  unitcnt                       33761 non-null  float64
 46  yardbuildingsqft17            1935 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52205 non-null  float64
 49  numberofstories               14532 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52237 non-null  float64
 52  taxvaluedollarcnt             52318 non-null  float64
 53  assessmentyear                52319 non-null  float64
 54  landtaxvaluedollarcnt         52318 non-null  float64
 55  taxamount                     52315 non-null  float64
 56  taxdelinquencyflag            2068 non-null   object
 57  taxdelinquencyyear            2068 non-null   float64
 58  censustractandblock           52198 non-null  float64
 59  logerror                      52319 non-null  float64
 60  transactiondate               52319 non-null  object
 61  airconditioningdesc           13615 non-null  object
 62  architecturalstyledesc        70 non-null     object
 63  buildingclassdesc             0 non-null      float64
 64  heatingorsystemdesc           33849 non-null  object
 65  propertylandusedesc           52319 non-null  object
 66  storydesc                     47 non-null     object
 67  typeconstructiondesc          76 non-null     object
dtypes: float64(56), int64(2), object(10)
memory usage: 27.1+ MB
None
======================
======================
Descriptions:
|                              |   count |             mean |              std |             min |              25% |              50% |              75% |              max |
|:-----------------------------|--------:|-----------------:|-----------------:|----------------:|-----------------:|-----------------:|-----------------:|-----------------:|
| id                           |   52319 |      1.49689e+06 | 859431           |   349           | 757581           |      1.5001e+06  |      2.24125e+06 |      2.98227e+06 |
| parcelid                     |   52319 |      1.29968e+07 |      3.35095e+06 |     1.07119e+07 |      1.15102e+07 |      1.25783e+07 |      1.41304e+07 |      1.67688e+08 |
| airconditioningtypeid        |   13615 |      2.43959     |      3.84793     |     1           |      1           |      1           |      1           |     13           |
| architecturalstyletypeid     |      70 |      7.1         |      2.66567     |     2           |      7           |      7           |      7           |     21           |
| basementsqft                 |      47 |    678.979       |    711.825       |    38           |    263.5         |    512           |    809.5         |   3560           |
| bathroomcnt                  |   52319 |      2.30002     |      1.02282     |     0           |      2           |      2           |      3           |     18           |
| bedroomcnt                   |   52319 |      3.30077     |      0.947563    |     0           |      3           |      3           |      4           |     14           |
| buildingclasstypeid          |       0 |    nan           |    nan           |   nan           |    nan           |    nan           |    nan           |    nan           |
| buildingqualitytypeid        |   33654 |      6.26496     |      1.71633     |     1           |      5           |      6           |      8           |     12           |
| calculatedbathnbr            |   52184 |      2.30528     |      1.01808     |     1           |      2           |      2           |      3           |     18           |
| decktypeid                   |     389 |     66           |      0           |    66           |     66           |     66           |     66           |     66           |
| finishedfloor1squarefeet     |    4371 |   1546.29        |    675.339       |   184           |   1151           |   1410           |   1760           |   6912           |
| calculatedfinishedsquarefeet |   52238 |   1923.17        |   1004.05        |   128           |   1268           |   1659           |   2306           |  21929           |
| finishedsquarefeet12         |   52073 |   1925.33        |   1003.96        |   128           |   1270           |   1661           |   2309           |  21929           |
| finishedsquarefeet13         |       0 |    nan           |    nan           |   nan           |    nan           |    nan           |    nan           |    nan           |
| finishedsquarefeet15         |       0 |    nan           |    nan           |   nan           |    nan           |    nan           |    nan           |    nan           |
| finishedsquarefeet50         |    4371 |   1567.1         |    745.085       |   184           |   1152           |   1415           |   1771           |  12467           |
| finishedsquarefeet6          |     165 |   1241.08        |    776.959       |   380           |    784           |   1008           |   1320           |   5598           |
| fips                         |   52319 |   6049.14        |     21.0293      |  6037           |   6037           |   6037           |   6059           |   6111           |
| fireplacecnt                 |    7233 |      1.20973     |      0.512946    |     1           |      1           |      1           |      1           |      5           |
| fullbathcnt                  |   52184 |      2.24004     |      0.993312    |     1           |      2           |      2           |      3           |     18           |
| garagecarcnt                 |   17984 |      1.94907     |      0.549974    |     0           |      2           |      2           |      2           |     14           |
| garagetotalsqft              |   17984 |    495.927       |    157.101       |     0           |    426           |    462           |    567           |   4251           |
| hashottuborspa               |    1514 |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| heatingorsystemtypeid        |   33849 |      3.96552     |      2.56264     |     1           |      2           |      2           |      7           |     24           |
| latitude                     |   52319 |      3.40226e+07 | 274065           |     3.33406e+07 |      3.38269e+07 |      3.40238e+07 |      3.41873e+07 |      3.48188e+07 |
| longitude                    |   52319 |     -1.18194e+08 | 356716           |    -1.19475e+08 |     -1.18401e+08 |     -1.18153e+08 |     -1.17929e+08 |     -1.17555e+08 |
| lotsizesquarefeet            |   51953 |  11323.5         |  86742.5         |   236           |   5583           |   6841           |   8799           |      6.97101e+06 |
| poolcnt                      |   11077 |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| poolsizesum                  |     865 |    518.305       |    156.615       |    24           |    424           |    500           |    600           |   1500           |
| pooltypeid10                 |     443 |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| pooltypeid2                  |    1071 |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| pooltypeid7                  |    9990 |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| propertylandusetypeid        |   52319 |    261           |      0           |   261           |    261           |    261           |    261           |    261           |
| rawcensustractandblock       |   52319 |      6.04945e+07 | 208691           |     6.0371e+07  |      6.0374e+07  |      6.03762e+07 |      6.05904e+07 |      6.11101e+07 |
| regionidcity                 |   51283 |  33482.2         |  49115.2         |  3491           |  12447           |  24812           |  40227           | 396556           |
| regionidcounty               |   52319 |   2524.31        |    804.102       |  1286           |   1286           |   3101           |   3101           |   3101           |
| regionidneighborhood         |   18981 | 180241           | 159929           |  6952           |  41131           | 118208           | 274514           | 764167           |
| regionidzip                  |   52293 |  96636.2         |   4610.43        | 95982           |  96206           |  96412           |  96995           | 399675           |
| roomcnt                      |   52319 |      1.89449     |      3.14697     |     0           |      0           |      0           |      5           |     15           |
| storytypeid                  |      47 |      7           |      0           |     7           |      7           |      7           |      7           |      7           |
| threequarterbathnbr          |    6717 |      1.0137      |      0.14269     |     1           |      1           |      1           |      1           |      7           |
| typeconstructiontypeid       |      76 |      5.97368     |      0.229416    |     4           |      6           |      6           |      6           |      6           |
| unitcnt                      |   33761 |      1.00086     |      0.0302904   |     1           |      1           |      1           |      1           |      3           |
| yardbuildingsqft17           |    1935 |    337.36        |    249.579       |    11           |    200           |    280           |    400           |   3191           |
| yardbuildingsqft26           |      63 |    225.619       |    188.505       |    12           |     71.5         |    180           |    317           |    868           |
| yearbuilt                    |   52205 |   1963.42        |     23.1259      |  1878           |   1950           |   1961           |   1979           |   2016           |
| numberofstories              |   14532 |      1.41419     |      0.540685    |     1           |      1           |      1           |      2           |      6           |
| fireplaceflag                |      81 |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| structuretaxvaluedollarcnt   |   52237 | 196638           | 254288           |   129           |  77159           | 131910           | 226455           |      9.1649e+06  |
| taxvaluedollarcnt            |   52318 | 529829           | 751836           |  1000           | 194020           | 374008           | 619358           |      4.90612e+07 |
| assessmentyear               |   52319 |   2016           |      0           |  2016           |   2016           |   2016           |   2016           |   2016           |
| landtaxvaluedollarcnt        |   52318 | 333495           | 570516           |   161           |  76194           | 218079           | 408780           |      4.89522e+07 |
| taxamount                    |   52315 |   6454.8         |   8752.55        |    49.18        |   2660.97        |   4650.62        |   7379.32        | 586639           |
| taxdelinquencyyear           |    2068 |     14.1011      |      2.4004      |     4           |     14           |     15           |     15           |     99           |
| censustractandblock          |   52198 |      6.05025e+13 |      1.86114e+12 |     6.0371e+13  |      6.0374e+13  |      6.03762e+13 |      6.05904e+13 |      4.8303e+14  |
| logerror                     |   52319 |      0.0181355   |      0.176904    |    -4.65542     |     -0.0247016   |      0.00693478  |      0.0405986   |      5.263       |
| buildingclassdesc            |       0 |    nan           |    nan           |   nan           |    nan           |    nan           |    nan           |    nan           |
======================
======================
|                           |   count |   unique | top                       |   freq |
|:--------------------------|--------:|---------:|:--------------------------|-------:|
| propertycountylandusecode |   52319 |       26 | 0100                      |  26713 |
| propertyzoningdesc        |   33761 |     1286 | LAR1                      |   6480 |
| taxdelinquencyflag        |    2068 |        1 | Y                         |   2068 |
| transactiondate           |   52319 |      257 | 2017-06-30                |    809 |
| airconditioningdesc       |   13615 |        4 | Central                   |  11873 |
| architecturalstyledesc    |      70 |        5 | Contemporary              |     62 |
| heatingorsystemdesc       |   33849 |        9 | Central                   |  20689 |
| propertylandusedesc       |   52319 |        1 | Single Family Residential |  52319 |
| storydesc                 |      47 |        1 | Basement                  |     47 |
| typeconstructiondesc      |      76 |        2 | Frame                     |     75 |
======================
======================
missing values:
by column:

|                              |     0 |
|:-----------------------------|------:|
| id                           |     0 |
| parcelid                     |     0 |
| airconditioningtypeid        | 38704 |
| architecturalstyletypeid     | 52249 |
| basementsqft                 | 52272 |
| bathroomcnt                  |     0 |
| bedroomcnt                   |     0 |
| buildingclasstypeid          | 52319 |
| buildingqualitytypeid        | 18665 |
| calculatedbathnbr            |   135 |
| decktypeid                   | 51930 |
| finishedfloor1squarefeet     | 47948 |
| calculatedfinishedsquarefeet |    81 |
| finishedsquarefeet12         |   246 |
| finishedsquarefeet13         | 52319 |
| finishedsquarefeet15         | 52319 |
| finishedsquarefeet50         | 47948 |
| finishedsquarefeet6          | 52154 |
| fips                         |     0 |
| fireplacecnt                 | 45086 |
| fullbathcnt                  |   135 |
| garagecarcnt                 | 34335 |
| garagetotalsqft              | 34335 |
| hashottuborspa               | 50805 |
| heatingorsystemtypeid        | 18470 |
| latitude                     |     0 |
| longitude                    |     0 |
| lotsizesquarefeet            |   366 |
| poolcnt                      | 41242 |
| poolsizesum                  | 51454 |
| pooltypeid10                 | 51876 |
| pooltypeid2                  | 51248 |
| pooltypeid7                  | 42329 |
| propertycountylandusecode    |     0 |
| propertylandusetypeid        |     0 |
| propertyzoningdesc           | 18558 |
| rawcensustractandblock       |     0 |
| regionidcity                 |  1036 |
| regionidcounty               |     0 |
| regionidneighborhood         | 33338 |
| regionidzip                  |    26 |
| roomcnt                      |     0 |
| storytypeid                  | 52272 |
| threequarterbathnbr          | 45602 |
| typeconstructiontypeid       | 52243 |
| unitcnt                      | 18558 |
| yardbuildingsqft17           | 50384 |
| yardbuildingsqft26           | 52256 |
| yearbuilt                    |   114 |
| numberofstories              | 37787 |
| fireplaceflag                | 52238 |
| structuretaxvaluedollarcnt   |    82 |
| taxvaluedollarcnt            |     1 |
| assessmentyear               |     0 |
| landtaxvaluedollarcnt        |     1 |
| taxamount                    |     4 |
| taxdelinquencyflag           | 50251 |
| taxdelinquencyyear           | 50251 |
| censustractandblock          |   121 |
| logerror                     |     0 |
| transactiondate              |     0 |
| airconditioningdesc          | 38704 |
| architecturalstyledesc       | 52249 |
| buildingclassdesc            | 52319 |
| heatingorsystemdesc          | 18470 |
| propertylandusedesc          |     0 |
| storydesc                    | 52272 |
| typeconstructiondesc         | 52243 |
by row:
|    |   num_cols_missing |   percent_cols_missing |   num_rows |
|---:|-------------------:|-----------------------:|-----------:|
|  0 |                 23 |                     34 |          2 |
|  1 |                 24 |                     35 |         12 |
|  2 |                 25 |                     37 |         11 |
|  3 |                 26 |                     38 |         30 |
|  4 |                 27 |                     40 |        177 |
|  5 |                 28 |                     41 |        390 |
|  6 |                 29 |                     43 |       2527 |
|  7 |                 30 |                     44 |       2199 |
|  8 |                 31 |                     46 |       5989 |
|  9 |                 32 |                     47 |       8885 |
| 10 |                 33 |                     49 |      11967 |
| 11 |                 34 |                     50 |      11157 |
| 12 |                 35 |                     51 |       3469 |
| 13 |                 36 |                     53 |       4138 |
| 14 |                 37 |                     54 |       1020 |
| 15 |                 38 |                     56 |        223 |
| 16 |                 39 |                     57 |         29 |
| 17 |                 40 |                     59 |         15 |
| 18 |                 41 |                     60 |          6 |
| 19 |                 42 |                     62 |          7 |
| 20 |                 43 |                     63 |         10 |
| 21 |                 44 |                     65 |         46 |
| 22 |                 45 |                     66 |          6 |
| 23 |                 46 |                     68 |          1 |
| 24 |                 47 |                     69 |          1 |
| 25 |                 48 |                     71 |          2 |
======================
======================
Outliers:
Outliers for Col id:
lower:  -1467918.75 upper:  4466747.25
Series([], Name: id, dtype: int64)
----------
Outliers for Col parcelid:
lower:  7579877.25 upper:  18060651.25
2783     167637054
6538     167636468
6768     167636512
8785     167636496
8954     167686999
22739    162960516
22960    162960529
23810    167639152
25628    162960814
28006    167687839
31037    167638003
34585    167636088
36959    167636727
39280    162960596
41966     79640490
42188    167637371
48857    167636193
49100    167636726
50667    167636339
Name: parcelid, dtype: int64
----------
Outliers for Col basementsqft:
lower:  -555.5 upper:  1628.5
10078    3112.0
13829    3560.0
34625    1809.0
44540    1969.0
Name: basementsqft, dtype: float64
----------
Outliers for Col bathroomcnt:
lower:  0.5 upper:  4.5
31       5.0
33       5.0
45       6.5
52       5.0
108      6.0
        ...
52192    6.0
52207    5.0
52238    6.0
52273    5.0
52307    0.0
Name: bathroomcnt, Length: 1696, dtype: float64
----------
Outliers for Col calculatedbathnbr:
lower:  0.5 upper:  4.5
31       5.0
33       5.0
45       6.5
52       5.0
108      6.0
        ...
52174    5.0
52192    6.0
52207    5.0
52238    6.0
52273    5.0
Name: calculatedbathnbr, Length: 1576, dtype: float64
----------
Outliers for Col finishedfloor1squarefeet:
lower:  237.5 upper:  2673.5
351      4677.0
352      5936.0
851      3231.0
874      5010.0
1182     3762.0
          ...
50916    3356.0
51376    2677.0
51480    3076.0
51731    5774.0
51754    3363.0
Name: finishedfloor1squarefeet, Length: 257, dtype: float64
----------
Outliers for Col calculatedfinishedsquarefeet:
lower:  -289.0 upper:  3863.0
16       3870.0
31       5492.0
33       4468.0
45       9586.0
51       5900.0
          ...
52147    3864.0
52192    5280.0
52207    5655.0
52238    5350.0
52273    4175.0
Name: calculatedfinishedsquarefeet, Length: 2272, dtype: float64
----------
Outliers for Col finishedsquarefeet12:
lower:  -288.5 upper:  3867.5
16       3870.0
31       5492.0
33       4468.0
45       9586.0
51       5900.0
          ...
52102    5945.0
52192    5280.0
52207    5655.0
52238    5350.0
52273    4175.0
Name: finishedsquarefeet12, Length: 2259, dtype: float64
----------
Outliers for Col finishedsquarefeet50:
lower:  223.5 upper:  2699.5
351       4677.0
352       5936.0
505       4459.0
851       3231.0
874       5010.0
          ...
50753    12467.0
50916     3356.0
51480     3076.0
51731     5774.0
51754     3363.0
Name: finishedsquarefeet50, Length: 270, dtype: float64
----------
Outliers for Col finishedsquarefeet6:
lower:  -20.0 upper:  2124.0
1243     2792.0
3595     4086.0
4398     3280.0
9037     2343.0
9885     5598.0
9944     2423.0
11876    2516.0
12948    2332.0
18221    3543.0
19455    3040.0
22808    4184.0
32676    2459.0
33818    2165.0
38731    3646.0
40610    2796.0
43385    2578.0
48597    2207.0
50577    3054.0
Name: finishedsquarefeet6, dtype: float64
----------
Outliers for Col garagetotalsqft:
lower:  214.5 upper:  778.5
1           0.0
45       1114.0
92        828.0
129       200.0
215      1380.0
          ...
51619     823.0
51638     871.0
51657    1511.0
51916       0.0
51918     957.0
Name: garagetotalsqft, Length: 887, dtype: float64
----------
Outliers for Col latitude:
lower:  33286355.25 upper:  34727797.25
529      34733937.0
1838     34749722.0
3452     34786807.0
4847     34767820.0
6434     34729241.0
7185     34776588.0
8416     34786014.0
8826     34757805.0
9434     34760911.0
9588     34736764.0
11859    34758939.0
12880    34756315.0
16298    34734767.0
17885    34753433.0
17993    34768294.0
18201    34731360.0
19104    34753495.0
19624    34806955.0
21231    34779658.0
32644    34755082.0
32858    34751923.0
34173    34744875.0
35359    34756038.0
36038    34746582.0
37670    34818767.0
38726    34750644.0
39317    34753581.0
41185    34738015.0
41658    34740081.0
44943    34785097.0
45388    34788737.0
48101    34762455.0
49536    34812397.0
50049    34810638.0
Name: latitude, dtype: float64
----------
Outliers for Col longitude:
lower:  -119108782.25 upper:  -117221120.25
1       -119281531.0
9       -119170633.0
100     -119206256.0
103     -119222807.0
109     -119207084.0
            ...
51697   -119205020.0
51730   -119206523.0
51744   -119227193.0
51764   -119181514.0
51769   -119213432.0
Name: longitude, Length: 1455, dtype: float64
----------
Outliers for Col lotsizesquarefeet:
lower:  759.0 upper:  13623.0
4         63000.0
6         20028.0
19        18200.0
22       183383.0
23        20148.0
           ...
52274     44800.0
52295     25568.0
52303     17881.0
52310     45398.0
52315     47405.0
Name: lotsizesquarefeet, Length: 5572, dtype: float64
----------
Outliers for Col poolsizesum:
lower:  160.0 upper:  864.0
3073      129.0
4974       24.0
5379     1500.0
8746       65.0
9046     1000.0
10102     900.0
14867     885.0
16246     112.0
18592     969.0
19333    1065.0
19446     144.0
19730      38.0
21182    1070.0
22167    1120.0
30311    1364.0
30740     931.0
34788     105.0
36832    1052.0
38024    1000.0
38329     900.0
40260    1109.0
42098    1200.0
43334     913.0
50764     990.0
Name: poolsizesum, dtype: float64
----------
Outliers for Col rawcensustractandblock:
lower:  60049395.162047 upper:  60915040.12198299
1        6.111001e+07
9        6.111005e+07
87       6.111006e+07
90       6.111007e+07
92       6.111005e+07
             ...
51760    6.111008e+07
51763    6.111008e+07
51764    6.111003e+07
51769    6.111004e+07
52316    6.111008e+07
Name: rawcensustractandblock, Length: 4385, dtype: float64
----------
Outliers for Col regionidcity:
lower:  -29223.0 upper:  81897.0
3        396551.0
41       118694.0
60       396054.0
228      396556.0
230      396550.0
           ...
52187    113576.0
52194    118878.0
52195    116042.0
52254    396551.0
52293    396054.0
Name: regionidcity, Length: 1620, dtype: float64
----------
Outliers for Col regionidneighborhood:
lower:  -308943.5 upper:  624588.5
207      762684.0
589      761541.0
597      761541.0
610      762183.0
755      761545.0
           ...
52094    763170.0
52113    762177.0
52192    761547.0
52232    763219.0
52241    764164.0
Name: regionidneighborhood, Length: 579, dtype: float64
----------
Outliers for Col regionidzip:
lower:  95022.5 upper:  98178.5
3128     399675.0
5138     399675.0
16423    399675.0
24032    399675.0
25941    399675.0
28548    399675.0
33027    399675.0
37884    399675.0
42382    399675.0
46995    399675.0
48312    399675.0
52007    399675.0
Name: regionidzip, dtype: float64
----------
Outliers for Col yardbuildingsqft17:
lower:  -100.0 upper:  700.0
352      2332.0
374      2206.0
851       780.0
3098      825.0
3207     1324.0
          ...
48894     722.0
50362     788.0
50439    1126.0
50753    3191.0
51693     990.0
Name: yardbuildingsqft17, Length: 119, dtype: float64
----------
Outliers for Col yardbuildingsqft26:
lower:  -296.75 upper:  685.25
7298     752.0
50916    868.0
Name: yardbuildingsqft26, dtype: float64
----------
Outliers for Col yearbuilt:
lower:  1906.5 upper:  2022.5
29       1901.0
50       1885.0
176      1902.0
308      1895.0
950      1899.0
          ...
50929    1895.0
51519    1901.0
51706    1905.0
51894    1905.0
52301    1887.0
Name: yearbuilt, Length: 240, dtype: float64
----------
Outliers for Col structuretaxvaluedollarcnt:
lower:  -146785.0 upper:  450399.0
0         485713.0
22        833933.0
23        678493.0
31       1177804.0
33        870000.0
           ...
52224     453000.0
52238    1776793.0
52263     519481.0
52273     576308.0
52303     593801.0
Name: structuretaxvaluedollarcnt, Length: 3893, dtype: float64
----------
Outliers for Col taxvaluedollarcnt:
lower:  -443985.75 upper:  1257364.25
16       2040000.0
22       1444248.0
23       1473080.0
31       1814004.0
33       1279000.0
           ...
52236    2000000.0
52238    2300797.0
52241    1582000.0
52263    2082201.0
52283    1629476.0
Name: taxvaluedollarcnt, Length: 3534, dtype: float64
----------
Outliers for Col landtaxvaluedollarcnt:
lower:  -422684.25 upper:  907657.75
16       1741737.0
45       1915820.0
54        917220.0
68       1144643.0
89        931981.0
           ...
52227    1134034.0
52236    1700000.0
52241    1265400.0
52263    1562720.0
52283    1303581.0
Name: landtaxvaluedollarcnt, Length: 3012, dtype: float64
----------
Outliers for Col taxamount:
lower:  -4416.567499999999 upper:  14456.852499999999
16       21758.26
22       16542.97
23       17643.27
31       20454.76
33       19822.16
           ...
52236    24076.88
52238    27815.44
52241    18480.13
52263    23074.98
52283    18116.07
Name: taxamount, Length: 3813, dtype: float64
----------
Outliers for Col censustractandblock:
lower:  60049395188521.0 upper:  60915040104489.0
1        6.111001e+13
9        6.111005e+13
87       6.111006e+13
90       6.111006e+13
92       6.111005e+13
             ...
51760    6.111008e+13
51763    6.111008e+13
51764    6.111003e+13
51769    6.111004e+13
52316    6.111008e+13
Name: censustractandblock, Length: 4367, dtype: float64
----------
Outliers for Col logerror:
lower:  -0.12265192427647498 upper:  0.13854899134652499
18       0.206470
28      -0.134762
31      -0.259448
63      -0.147592
68      -0.201121
           ...
52303   -0.232215
52307   -0.159471
52308   -0.816510
52311   -0.140881
52312    0.319408
Name: logerror, Length: 6413, dtype: float64
----------
None
======================
======================

In [29]:
train, val_test = train_test_split(df, train_size = 0.7,
                                  random_state = 42,
                                  stratify = None)
val, test = train_test_split(val_test, train_size =0.5,
                            random_state = 42,
                            stratify = None)

In [30]:
train.shape

(36620, 29)

In [23]:
wrangle_zillow.get_continuous_feats(df)

['id',
 'parcelid',
 'basementsqft',
 'bathroomcnt',
 'calculatedbathnbr',
 'finishedfloor1squarefeet',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'garagetotalsqft',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'poolsizesum',
 'rawcensustractandblock',
 'regionidcity',
 'regionidneighborhood',
 'regionidzip',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'yearbuilt',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'landtaxvaluedollarcnt',
 'taxamount',
 'censustractandblock',
 'logerror']

In [25]:
# Define prop_required_column with the desired value (e.g., 0.7 for 70% required)
prop_required_column = 0.75

prop_required_row = 0.75

In [27]:
df = wrangle_zillow.handle_missing_values(df, prop_required_column, prop_required_row)