In [1]:
#ignore warnings
import warnings
warnings.filterwarnings("ignore")

#wrangling
import pandas as pd
import numpy as np
import seaborn as sns

import os
from env import get_connection
#exploring
import scipy.stats as stats

#Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import sqlalchemy
#default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import acquire
import summarize
import prepare

In [11]:
# Create SQL query.
sql_query = '''
    SELECT *
    FROM properties_2017
    JOIN predictions_2017 USING(parcelid)
    WHERE transactiondate BETWEEN "2017-01-01" AND "2017-12-31";
'''
        
    
           
df = pd.read_sql(sql_query, get_connection('zillow'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77613 entries, 0 to 77612
Data columns (total 62 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77613 non-null  int64
 1   id                            77613 non-null  int64
 2   airconditioningtypeid         25007 non-null  float64
 3   architecturalstyletypeid      207 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77579 non-null  float64
 6   bedroomcnt                    77579 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49809 non-null  float64
 9   calculatedbathnbr             76963 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6037 non-null   float64
 12  calculatedfinishedsquarefeet  77378 non-null  float64
 13  finishedsquarefeet12          73923 non-null  float64
 14  finishedsquarefeet13          42 non-null     float64
 15  finishedsquarefeet15          3027 non-null   float64
 16  finishedsquarefeet50          6037 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77579 non-null  float64
 19  fireplacecnt                  8289 non-null   float64
 20  fullbathcnt                   76963 non-null  float64
 21  garagecarcnt                  25520 non-null  float64
 22  garagetotalsqft               25520 non-null  float64
 23  hashottuborspa                1539 non-null   float64
 24  heatingorsystemtypeid         49571 non-null  float64
 25  latitude                      77579 non-null  float64
 26  longitude                     77579 non-null  float64
 27  lotsizesquarefeet             69321 non-null  float64
 28  poolcnt                       16174 non-null  float64
 29  poolsizesum                   869 non-null    float64
 30  pooltypeid10                  465 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15079 non-null  float64
 33  propertycountylandusecode     77579 non-null  object
 34  propertylandusetypeid         77579 non-null  float64
 35  propertyzoningdesc            50476 non-null  object
 36  rawcensustractandblock        77579 non-null  float64
 37  regionidcity                  76107 non-null  float64
 38  regionidcounty                77579 non-null  float64
 39  regionidneighborhood          30974 non-null  float64
 40  regionidzip                   77529 non-null  float64
 41  roomcnt                       77579 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10106 non-null  float64
 44  typeconstructiontypeid        223 non-null    float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77309 non-null  float64
 49  numberofstories               17599 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77464 non-null  float64
 52  taxvaluedollarcnt             77578 non-null  float64
 53  assessmentyear                77579 non-null  float64
 54  landtaxvaluedollarcnt         77577 non-null  float64
 55  taxamount                     77574 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77332 non-null  float64
 59  id                            77613 non-null  int64
 60  logerror                      77613 non-null  float64
 61  transactiondate               77613 non-null  object
dtypes: float64(55), int64(3), object(4)
memory usage: 36.7+ MB

In [16]:
df.isnull().sum()

parcelid                        0
id                              0
airconditioningtypeid       52606
architecturalstyletypeid    77406
basementsqft                77563
                            ...
taxdelinquencyyear          74713
censustractandblock           281
id                              0
logerror                        0
transactiondate                 0
Length: 62, dtype: int64